body {
    font-family: 'Advent Pro';
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.nav {
  display: flex;
  border-bottom: 2px solid lightslategray;
  border-top: 2px solid lightslategray;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-family: 'Advent Pro';
}

a {
  color: lightslategray;
}

a:link {
  text-decoration-line: none;
}

a:hover {
  color: lightskyblue;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

p {
  text-align: center;
}

h4 {
  text-align: center;
}

h6 {
  text-align: center;
}

.founders {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid lightslategray;
  padding: 20px;
}

.contact-info {
  padding-top: 15%;
}

.preetis-box {
  text-align: left;
  list-style-type: none;
  padding-left: 10%;
}

.rebeccas-box {
  text-align: right;
  list-style-type: none;
  padding-right: 10%;
}

ol {
  text-align: center;
}

ol li {
  text-align: center;
  list-style-position: inside;
}