/* Base Style */

body {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background: url('images/polygon.jpg');
    background-size: cover;
  }

.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.white-text {
  color: white;
}

.nav {
  list-style: none;
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 15px;
}

a {
  color: black;
}

.intro {
  border: 2px dotted white;
  display: inline-block;
  width: 85%;
  margin-top: 1em;
  padding: 10px;
  font-size: 1.1em;
}

ol li {
  text-align: center;
  list-style-position: inside;
  list-style-type: decimal;
  padding: 10px;
}

.list {
  margin: 10px 10px;
}


/* Footer */

html, body {
  height: 100%
}
.content {
  flex: 1 0 auto;
}

.foot {
  flex-shrink: 0;
  color: black;
}

/* Responsive */

a:link {
  text-decoration-line: none;
}

a:hover {
  color: white;
  transition: ease-in-out .3s;
  transform: scale(1.25);
  display: inline-block;
}

.colorize {
  border-style: dotted;
  font-family: 'Advent Pro';
}

/* About Us Page */

.products {
  border: 2px dotted white;
  display: inline-block;
  width: 200px;
  margin-top: 1em;
  font-size: 1em;
  color: white;
}

.wrapper {
  min-height: calc(100vh - 19px)
}

.preetis-box {
  text-align: left;
  list-style-type: none;
  padding-left: 10%;
}

.rebeccas-box {
  text-align: right;
  list-style-type: none;
  padding-right: 10%;
}

.large {
  font-size: 1.5em;
  font-weight: bold;
}

/* Contact Page */

.contact-info {
  margin-top: 1em;
  border: 2px dotted white;
  display: inline-block;
  width: 200px;
  padding: 0 1em;
  font-size: 1.5em;
  color: white;
}

/* Flexbox */

.container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
}

.col {
  border: 2px dotted white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  color: white;
}

.group {
  width: 50%;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 75px;
  display: inline-block;
  margin: 0 auto;
}

/* Media queries */

@media (min-width: 769px){
  .contact-info,
  .products,
  .contact-info {
    font-size: 1.3em;
  }

  .group {
    display: inline-block;
    width: 100%;
  }

  .beliefs {
    width: 25%;
  }

  .intro,
  .contact-info {
    width: 60%;
  }

  .main-header,
  .nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  a:hover {
    color: white;
    transition: ease-in-out .3s;
    transform: scale(1.25);
    display: inline-block;
  }
}

@media (min-width: 1025px) {

    .container {
      flex-direction: row;
      width: 60%;
    }

    .col {
      flex: 1;
      margin: 20px;
    }

    /* Landing Page */

  .landing-header {
    position: absolute;
    left: 298px;
    top: 185px;
    transform: rotate(5deg);
  }

  .landing-home {
    position: absolute;
    left: 580px;
    top: 115px;
    transform: rotate(26deg);
  }

    .landing-products {
    position: absolute;
    left: 565px;
    top: 195px;
    transform: rotate(-35deg);
  }

  .landing-about {
    position: absolute;
    left: 575px;
    top: 285px;
    transform: rotate(40deg);
  }
}

