body {
    font-family: 'Advent Pro';
}

.nav {
  display: flex;
  border-bottom: 2px solid lightgrey;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-family: 'Advent Pro';
}